{% extends 'base.html' %}
{% block content%}
          <form action="">
            <div class="mb-3">
              <label class="form-label">Search for Movie </label>
              <input type="text" class="form-control" name="searchMovie">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
     searching for : {{ searchTerm }}
     <br/>
     <div class="container" style="display: flex;align-items: stretch;flex-direction: row;flex-wrap: wrap;justify-content: space-evenly;">
      {% for movie in movies%}
      <div class="card" style="width: 18rem;">
        <img src="{{ movie.image.url }}" class="card-img-top" height="390px">
        <div class="card-body" style="display: flex;flex-wrap: wrap;flex-direction: column;justify-content: space-between;">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">{{ movie.descp }}</p>
      {% if movie.url %}
          <a href="{{ movie.url }}" class="btn btn-primary">More Info</a>
      {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
     <br/>
     <h2> Join our mailing list</h2>
     <form action="signup/">
       <div class="mb-3">
         <label class="form-label">Enter your e-mail: </label>
         <input type="email" class="form-control" name="email">
        </div>
        <button type="submit" class="btn btn-primary" name="signup">Signup</button>
      </form>
{% endblock content%}
