html
    head
        title Document
    body 
        table
            th 
                td SR.no
                td Subject
                td Faculty name 
            tr
                td 1
                td FSD-2
                td ABC 
            tr
                td 2
                td Python-2
                td DEF
            tr
                td 3
                td COA
                td XYZ